<%= form_with(model: ability, local: true) do |form| %>
  <% if ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ability.errors.count, "error") %> prohibited this ability from being saved:</h2>

      <ul>
        <% ability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= player.exp %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, value:1, min:1%>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.number_field :experience, value:1, min:1 %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= collection_select(:ability, :player_id, Player.all, :id, :character_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
