<p id="notice"><%= notice %></p>

<h1>Players</h1>
<table class="player-list">
  <thead>
    <tr>
      <th>Character</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td class="sao-container" style="display: flex">
      
      <%= image_tag(player.character_class.downcase, class:'class-icon') %>
      <div class="sao-healthbar">
        <div class="main-container">
          
          <div class="character-name">
            <%= player.character_name %>
          </div>
            <div class="health-bar--outline">
              <div class="health-bar--border">
                <div class="health-bar--background">
                  <%= content_tag(:div, "", class: ["exp-bar--exp"], style: ["--exp:#{player.experience - player.get_lvl[1]};", "--max:#{player.get_lvl[2] - player.get_lvl[1]}"] ) %>
                </div>
              </div>
            </div>
        </div>
        <%= content_tag(:div, "/", class: ["health-indicator"], style: ["--health:'#{player.get_lvl[1]}';", "--max-health:'#{player.get_lvl[2]}';", "--exp:'#{player.experience}'"] ) %>
        <div class="character-level" style="--level: ">
          Lv. <%= player.get_lvl[0] %>
        </div>
      </div>

      <div class="menu">
        <ul class="menu-list">
        <% @abilities.each do |ability| %>
        <% if ability.player_id == player.id%>
          <% case ability.name
              when 'Strength' %>
              <li class="menu-list-item">
                Strength 
                <span class="menu-list-text lvl-edit">
                  <% ability.level = ability.level - 1  %>
                  <%= link_to "", ability_path(ability), :params => {:ability => ability}, method: :put, class: "fas fa-angle-down" %>  
                  <%= ability.level = ability.level + 1  %>  
                  <% ability.level = ability.level + 1  %>
                  <%= link_to "", ability_path(ability), method: :put, class: "fas fa-angle-up", id: "#{player.id}-up-str-#{ability.id}" %>  
                </span>
              </li>
          <%  when 'Dexterity' %>
              <li class="menu-list-item">Dexterity <span class="menu-list-text lvl-edit"><a class="fas fa-angle-down" id="<%= player.id %>-down-dex"></a>  <%= ability.level %>  <span><a class="fas fa-angle-up" id="<%= player.id %>-up-dex-<%= ability.id %>""></a></li>
          <%  when 'Constitution' %>
              <li class="menu-list-item">Constitution <span class="menu-list-text lvl-edit"><a class="fas fa-angle-down" id="<%= player.id %>-down-con"></a>  <%= ability.level %>  <span><a class="fas fa-angle-up" id="<%= player.id %>-up-con-<%= ability.id %>""></a></li>
          <%  when 'Intelligence' %>
              <li class="menu-list-item">Intelligence <span class="menu-list-text lvl-edit"><a class="fas fa-angle-down" id="<%= player.id %>-down-int"></a>  <%= ability.level %>  <span><a class="fas fa-angle-up" id="<%= player.id %>-up-int-<%= ability.id %>""></a></li>
          <%  when 'Wisdom' %>
              <li class="menu-list-item">Wisdom <span class="menu-list-text lvl-edit"><a class="fas fa-angle-down" id="<%= player.id %>-down-wis"></a>  <%= ability.level %>  <span><a class="fas fa-angle-up" id="<%= player.id %>-up-wis-<%= ability.id %>""></a></li>
          <%  when 'Charisma' %>
              <li class="menu-list-item">Charisma <span class="menu-list-text lvl-edit"><a class="fas fa-angle-down" id="<%= player.id %>-down-cha"></a>  <%= ability.level %>  <span><a class="fas fa-angle-up" id="<%= player.id %>-up-cha-<%= ability.id %>""></a></li>
          <% end %>
        <% end %>
      <% end %>
        </ul>
      </div>
      </td>
        <td>
        <%= link_to 'Show', player %><br>
        <%= link_to 'Edit', edit_player_path(player) %><br>
        <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>


<%= javascript_pack_tag 'main' %>